<div class="container">
  <app-form-vehiculo-marca></app-form-vehiculo-marca>
    <table class="table table-light table-hover">
        <thead>
          <tr class="table-dark">
            <th scope="col">Código</th>
            <th scope="col">Modelo</th>
            <th scope="col">Marca</th>
            <th scope="col">Color</th>
            <th scope="col">Tracción</th>
            <th scope="col">Transmición</th>
            <th scope="col">Asientos</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let elemento of data">
            <th scope="row">{{elemento.codvehiculo}}</th>
            <td>{{elemento.modelo}}</td>
            <td>{{elemento.marca}}</td>
            <td>{{elemento.color}}</td>
            <td>{{elemento.traccion}}</td>
            <td>{{elemento.transmision}}</td>
            <td>{{elemento.asiento}}</td>
            <td>
              <button class="btn btn-primary m-2" (click)="actualizar(elemento.codvehiculo)">Editar</button>
              <button class="btn btn-danger" (click)="eliminar(elemento.codvehiculo)">Eliminar</button>
            </td>
          </tr>
    
        </tbody>
      </table>
      <button (click)="nuevo()" class="btn btn-primary">Nuevo Producto</button>
    </div>
